html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* SITE WIDE STYLING */
html {
  font-size: 62.5%;
}

body,
p,
a,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body, button, input {
  font-size: 1.6rem;
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1320px;
  width: 95%;
  margin: 0 auto;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.bold {
  font-weight: 700;
}

/* HEADER NAVIGATION */
.navContainer {
  border-bottom: 1px solid #D8DCDF;
  position: fixed;
  background-color: white;
  width: 100%;
}

.headerNav {
  padding: 10px 30px;
  color: #8b8b8b;
  font-size: 1.5rem;
  line-height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preprLogo {
  max-width: 100px;
  min-width: 100px;
}

nav ul {
  display: flex;
  align-items: center;
}

.headerNav li {
  padding: 0 2.2rem;
}

.headerNav li:hover {
color: rgb(12, 159, 12);
}

.navBarIcons li {
  font-size: 2.5rem;
  color: #56565a;
  padding: 0 1.5rem;
}

.navBarIcons .userIcons {
  font-size: 4rem;
}

.userIcons img {
  max-width: 50px;
  min-width: 50px;
}

.navSearchBar input {
  padding: 0.9rem;
  border: 1px solid #CCD2D8;
  border-radius: 0 5px 5px 0;
  width: 260px;
}

/* MAIN */
main {
  padding: 80px 0;
  background-color: #F3F7FC;
}

main h2 {
  font-size: 2.4rem;
}

main h3 {
  font-weight: 700;
  font-family: 'Poppins';
  font-size: 2rem;
  padding-bottom: 2rem;
}

.heading {
  display: flex;
  align-items: center;
}

.completeProfile {
  color: #33B36D;
  border-bottom: 1px solid #33B36D;
  margin-left: 10px;
}

/* CARDS */

.cardContainer  {
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 1px 1px 1px #E9EAEB;
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 100%;
  border: 1px solid #D8DCDF;
  border-radius: 10px;
  padding: 2rem;
  margin: 0.5rem 1.5rem;
  box-shadow: 2px 2px 12px rgb(192, 192, 192);
}
/* CARDS - PROGRESS */
.progressStats {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
}

.progressStats img {
  max-width: 25px;
  margin: 1rem;
}

/* CARDS - CONTINUE */
.lastVisitedIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastVisitedIcon img {
  max-width: 270px;
  padding: 4rem 5rem;
}

.exploreMore {
  background: #2ebb54;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-left: -50px;
  cursor: pointer;
}

.exploreMore:hover  {
  box-shadow: 2px 2px 12px rgb(166, 165, 165);
}

/* CARDS - UPCOMING */

.eventContainer {
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 1rem 0.5rem 1rem;
}

.eventContainer i {
  padding-right: 1rem;
}


/* FOOTER */
footer {
  border-top: 1px solid #D8DCDF;
  color: #727D92;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px 0;
}

footer a {
  padding: 0 5px;
  font-weight: bold;
}